<!-- currentCount$ IS NOT A NUMBER its observable of number! -->
<!-- ASYNC-bring the info from this pipe-async do subscribe and unsubscribe! -->
<!-- <h3>Current Count : {{ currentCount$ | async }}</h3>

<app-counter></app-counter>
<app-counter></app-counter>
<button (click)="showHide = !showHide">Show/Hide</button>
<div *ngIf="showHide">
  <app-counter></app-counter>
  <app-counter></app-counter>
  <app-counter></app-counter>
  <app-counter></app-counter>
</div> -->

<app-search></app-search>
