h4{
    padding: 10px;
    color: rgb(118, 118, 238);
}

.icons{
    display: flex;
    flex-direction: row;
    margin-top: -20px;
    margin-bottom: 30px;
}

.btn{
    text-align: center;
    margin: 10px;
    padding: 20px;
    background-color: rgb(223, 224, 224);
    border-radius: 20px;
    width: 150px;
}

button :hover{
    cursor: pointer;
    color: rgb(44, 10, 240);
}